@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Exo 2', sans-serif;
  }
.exo-font {
    font-family: 'Exo 2', sans-serif;
}
::-webkit-scrollbar {
  width: 0.3vh;
  height: 0.4vh;
  z-index: 999;
  background: rgba(255, 255, 255, 0.1); /* subtle background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3498db, #2c3e50); /* gradient effect */
  border-radius: 0.2vh;
z-index: 999;
border: 1px solid #2c3e50; 
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
}

::-webkit-scrollbar-thumb:hover {
background: linear-gradient(to bottom, #ffffff, #d6d6d6); 
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}